.custom-table {
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
}

.custom-table thead {
  font-weight: 600;
  letter-spacing: 0.5px;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;
}

.custom-table tbody tr {
  transition: all 0.2s ease-in-out;
}

.custom-table tbody tr:hover {
  transform: scale(1.01);
  background-color: #f8f9fa;
}

.custom-table td,
.custom-table th {
  padding: 12px;
}